<!DOCTYPE html>    

<!--
References:
Resizing canvas - http://htmlcheats.com/html/resize-the-html5-canvas-dyamically/

-->
<head>
    <meta charset="utf-8">
    <title>Python Typer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="pythonTyperCSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
 
    <canvas id='scoreCanvas'>
    </canvas>
    <canvas id='consoleCanvas'>
    </canvas>
	<canvas id='mainCanvas'>
	</div>


	

    <!--This is the only line we need to change amongst our 3 
        different game types.
     -->
	<script src='js/pythonGameScript.js'></script>
	
</body>
 
</html>
